.last-section {
    padding-top: 25px;
    padding-bottom: 25px;
}

.last-section__text {
    margin-bottom: 30px;
}

.last-section__img {
    margin: 0 auto 30px;
}

.last-section__img_margin-zero {
    margin: 0 auto;
}

.last-section__overview {
    max-width: 1080px;
    margin: 0 auto;
    margin-bottom: 30px;
}

