@import url(normalize.css);
@import url(default.css);
@import url(about-section.css);
@import url(content-section.css);
@import url(element-section.css);
@import url(dom-section.css);
@import url(last-section.css);
@import url(result-section.css);

@font-face {
    font-family: Roboto;
        src: local('Roboto Regular'),
        url("../fonts/Roboto-Regular.ttf") format("truetype");
        font-weight: 400;
        font-display: auto;
}

@font-face {
    font-family: Roboto;
        src: local('Roboto Bold'),
        url('../fonts/Roboto-Bold.ttf') format("truetype");
        font-weight: 700;
        font-display: auto;
}

@font-face {
    font-family: Roboto;
        src: local('Roboto Black'),
        url('../fonts/Roboto-Black.ttf') format("truetype");
        font-weight: 900;
        font-display: auto;
}

.article {
    padding-top: 60px;
    padding-bottom: 50px;
}

.title {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 30px;
    line-height: 1.2;
}

